@import vars


/*==========  Desktop First  ==========*/

@media (max-width: 1800px)
  .bg-cases
    right: -100px

  .cases-img
    right: 15px

@media (max-width: 1700px)
  .s-prices
    .section-title
      span
        font-size: 160px
        top: 60px

@media (max-width: 1600px)
  .cases-img
    width: 650px
  .bg-cases
    right: -200px

@media (max-width: 1500px)

  .map-img
    left: -100px

  .bg-begin
    right: -100px

@media (max-width: 1400px)

  .map-img
    left: -200px

  .s-gallery
    background-position: right bottom

  .cases-img
    width: 550px
  .bg-cases
    right: -250px

  .s-prices
    .section-title
      span
        font-size: 130px
        top: 73px

  .bg-quality
    top: 170px
    right: -300px

  .bg-begin
    right: -150px

@media (max-width: 1300px)
  .think-block
    left: 0
    z-index: 2
  .cases-img
    width: 450px
    top: 0
  .cases-wrap
    margin-top: 100px
  .bg-cases
    right: 0
    width: 800px
    top: 100px
  .cases-slider-nav
    left: 0
    width: 550px
  .cases-preview
    left: 0
    width: 550px

// ≥1200px
+media-breakpoint-down(lg)

  .contacts-block
    left: calc((100vw - 960px)/2)

  .s-gallery
    padding-top: 200px
    padding-bottom: 1220px

  .gallery-content
    width: 600px

  .gallery-item
    width: 220px
    height: 220px
    &:nth-child(1)
      top: -145px
    &:nth-child(2)
      top: 25px
    &:nth-child(3)
      left: 200px
    &:nth-child(4)
      left: 400px
      top: 25px
    &:nth-child(5)
      top: 150px
    &:nth-child(6)
    &:nth-child(7)
      top: 480px
    &:nth-child(8)
      left: 465px
      top: 275px
    &:nth-child(9)
      width: 320px
      height: 320px
      top: 675px
    &:nth-child(10)
      width: 370px
      height: 370px
      left: 365px
      top: 800px
    &:nth-child(11)
      width: 320px
      height: 320px
      top: 475px

  .case-slide
    &-link
      font-size: 22px
    &-name
      font-size: 16px

  .cases-slider-nav
    top: -53px
    width: 475px

  .cases-nav
    width: 50px
    height: 50px
    background-size: 16px

  .cases-preview
    font-size: 16px
    width: 475px
    &-name
      font-size: 18px
    &-title
      margin-bottom: 8px

  .case-advert-col .col-value
    font-size: 22px

  .case-advert
    right: -45px
    max-width: 400px

  .bg-cases
    width: 600px
    top: 430px

  .think-block
    z-index: 4

  .price-item
    &-img
      width: 200px
    &-content
      width: calc(100% - 230px)
    &-title
      font-size: 36px
    &-price
      font-size: 36px
    &.first-item
      .price-item-content
        left: -40px

  .s-prices
    .section-title
      span
        font-size: 110px
        top: 82px

  .s-form
    .section-title
      font-size: 36px
      margin-bottom: 10px
    .dark-form
      label
        width: calc(50% - 5px)

  .img-modes
    width: 600px
    left: -150px

  .spec-item
    &-img
      height: 375px
    &-name
      font-size: 22px


  .s-quality
    padding-top: 120px

  .bg-quality
    top: auto
    bottom: 100px
    right: -70px

  .bg-stages
    top: 125px

  .stages-wrap
    padding-left: 0
    max-width: 960px
    width: 100%
    margin-left: auto
    margin-right: auto
    flex-wrap: wrap
    justify-content: space-between

  .stage-item
    width: calc(33.333% - 20px)
    margin-right: 0
    margin-bottom: 30px
    &:last-child
      border-top-right-radius: 10px
      border-bottom-right-radius: 10px
      .stage-item-bg
        right: 50px


  .s-begin
    .rounded-form
      margin-top: 100px

  .section-desc
    padding: 0 200px

  .rounded-form
    padding-left: 300px
    padding-right: 100px
    overflow: hidden
    .form-img
      width: 190px
      left: 95px

  .hand-img
    display: none



  .char-item
    &-img
      height: 60px
      margin-right: 20px
    &-title
      font-size: 36px
      line-height: 1.2

  .intro-content
    h1
      font-size: 32px

  .intro-img
    left: 0

  .bg-intro
    width: 100%
    left: -420px

  .btn-present
    font-size: 12px
    padding: 16px 30px

  .header-contacts
    .call
      margin-right: 20px

// ≥992px
+media-breakpoint-down(md)

  .s-contacts
    padding-top: 50px

  .map-wrapper
    margin-top: -40px

  #map
    height: 500px

  .contacts-block
    background-color: #01274d
    left: 15px
    padding: 25px
    border-radius: 5px
    bottom: 15px

  .map-img
    display: none

  .s-gallery
    padding-top: 75px
    padding-bottom: 1375px
  .gallery-content
    width: 100%

  .gallery-item
    width: 200px
    height: 200px
    &:nth-child(1)
      top: 0
    &:nth-child(3)
      left: 121px
    &:nth-child(4)
      left: 247px
    &:nth-child(5)
      right: 104px
      top: 222px
    &:nth-child(6)
      top: 430px
    &:nth-child(7)
      left: 255px
      top: 430px
    &:nth-child(8)
      left: auto
      right: 0
      top: 445px
    &:nth-child(9)
      width: 350px
      height: 350px
    &:nth-child(10)
      left: 260px
      top: 960px
    &:nth-child(11)
      width: 270px
      height: 270px
      right: 40px
      top: 665px

  .bg-cases
    display: none

  .s-cases
    background-color: #0f3357
    padding: 50px 0
    color: #fff

  .case-advert
    position: relative
    right: 0
    top: 0
    margin-left: auto
    margin-right: auto

  .cases-slider-nav
    width: 100%
    top: calc(50% - 25px)
    position: absolute

  .cases-wrap
    width: 100%

  .cases-preview
    display: none

  .cases-title
    text-align: center
  .cases-text
    text-align: center

  .cases-img
    display: none

  .case-slide
    &-img
      margin-left: auto
      margin-right: auto
    &-content
      text-align: center
      padding-left: 0
    &-link
      font-size: 26px
      color: #fff

  .cases-slider
    margin-bottom: 30px

  .think-block
    color: $text

  .price-item
    margin-bottom: 75px
    &-top
      justify-content: center
      margin-bottom: 35px
    &-content
      width: auto
    &-img
      margin-right: 30px
    &.second-item
      .price-item-top
        left: 0

  .s-prices
    padding: 75px 0 0
    .section-title
      margin-bottom: 30px
      span
        font-size: 85px
        top: 52px

  .s-form
    text-align: center
    .section-title
      text-align: center

  .img-modes
    max-width: 100%
    left: 0
    margin: 50px auto

  .s-quality
    padding-bottom: 50px

  .quaity-wrap
    ul
      margin-bottom: 30px

  .specs-wrap
    margin-top: 50px
    flex-wrap: wrap

  .spec-item
    width: calc(50% - 15px)
    margin-bottom: 50px
    &-img
      height: 500px
    &-name
      font-size: 26px

  .s-stages
    overflow: hidden

  .stages-wrap
    max-width: 720px

  .stage-item
    width: calc(50% - 15px)
    &:last-child
      width: calc(50% - 15px)
      flex-grow: inherit
      .stage-item-bg
        top: -30px
        right: -130px
        height: 340px
        width: auto

  .section-desc
    padding-left: 50px
    padding-right: 50px

  .rounded-form
    padding-left: 80px
    padding-right: 80px
    padding-top: 25px
    padding-bottom: 25px
    border-radius: 150px
    text-align: center
    box-shadow: 0 0 0 35px rgba(#f7f7f7, .5), 0 0 15px 5px rgba(#000, .15)
    .form-img
      display: none

  .s-chars
    padding: 60px 0

  .char-item
    flex-direction: column
    align-items: center
    &-img
      height: 70px
      margin-bottom: 10px
      margin-left: auto
      margin-right: auto
    &-title
      font-size: 42px
    &-content
      text-align: center

  .intro-content
    text-align: center
    padding-bottom: 50px
    padding-left: 0
    h2
      margin-top: 50px

  .btn-present
    background-color: #ff8465
    color: #fff

  .header-contacts
    .call
      a
        color: #fff
      span
        color: #fff

  .site-info
    margin-left: 0
    flex-direction: column
    align-items: flex-start
    .logo
      margin-bottom: 3px


  .s-intro
    background-image: url('../img/bg-stars.jpg')
    +bg-cover

  .intro-img
    display: none

  .bg-intro
    display: none

// ≥768px
+media-breakpoint-down(sm)

  .contacts-block
    position: relative
    left: 0
    bottom: 0
    margin-top: 60px

  .s-gallery
    padding-bottom: 50px

  .gallery-item
    position: relative
    display: inline-block
    margin-bottom: -10px
    &:nth-child(1)
      left: 0
      top: 0
      width: 175px
      height: 175px
    &:nth-child(2)
      left: 40px
      top: 0
      width: 175px
      height: 175px
    &:nth-child(3)
      left: 105px
      top: 0
      width: 175px
      height: 175px
    &:nth-child(4)
      left: 140px
      top: 0
      width: 175px
      height: 175px
    &:nth-child(5)
      left: 0
      top: 0
      width: 175px
      height: 175px
    &:nth-child(6)
      left: 40px
      top: 0
      width: 175px
      height: 175px
    &:nth-child(7)
      left: 105px
      top: 0
      width: 175px
      height: 175px
    &:nth-child(8)
      left: 140px
      top: 0
      width: 175px
      height: 175px
    &:nth-child(9)
      left: 0
      top: 0
      width: 175px
      height: 175px
    &:nth-child(10)
      left: 40px
      top: 0
      width: 175px
      height: 175px
    &:nth-child(11)
      left: 105px
      top: 0
      width: 175px
      height: 175px

  .think-block
    width: 100%
    padding: 30px 35px

  .cases-title
    font-size: 32px

  .cases-slider
    margin-top: 30px

  .case-slide
    &-img
      width: 300px
      height: 300px

  .s-prices
    overflow: hidden

  .dark-form
    .form-labels-wrap
      flex-direction: row

  .quaity-wrap
    font-size: 18px

  .spec-item
    &-img
      height: 375px
    &-name
      font-size: 22px



  form
    h3
      margin-bottom: 15px
    p
      font-size: 16px
    .form-labels-wrap
      flex-direction: column
    label
      margin-bottom: 20px
    .policy
      font-size: 12px


  .section-title
    font-size: 32px
    margin-bottom: 15px

  .rounded-form
    padding-left: 45px
    padding-right: 45px
    border-radius: 50px
    .form-labels-wrap
      label, .btn
        width: 100%

  .bg-begin
    display: none

  .s-begin
    padding: 70px 0
    //background-image: url('../img/bg-stars.jpg')
    //+bg-cover
    .section-desc
      //color: #fff
    .section-title
      &:after, &:before
        width: 45px
        height: 45px
      &:after
        right: -70px
      &:before
        left: -70px
    .rounded-form
      margin-top: 50px

  .char-item
    &-img
      height: 60px
    &-title
      font-size: 32px

  .main-head
    flex-direction: column

  .site-info
    flex-direction: row
    margin-bottom: 25px

  .header-contacts
    width: 100%
    padding-left: 30px
    justify-content: space-between

// ≥480px
+media-breakpoint-down(xs)

  .contacts-block
    h3
      font-size: 36px

  .con-item
    font-size: 16px

  .s-gallery
    font-size: 16px
    line-height: 1.4
    text-align: center
    .section-title
      text-align: center

  .gallery-wrap
    margin-top: 90px

  .gallery-item
    display: block
    margin-left: auto
    margin-right: auto
    margin-top: -65px
    &:nth-child(1)
      left: -90px
      top: 0
    &:nth-child(2)
      left: 90px
      top: 0
    &:nth-child(3)
      left: -90px
      top: 0
    &:nth-child(4)
      left: 90px
      top: 0
    &:nth-child(5)
      left: -90px
      top: 0
    &:nth-child(6)
      left: 90px
      top: 0
    &:nth-child(7)
      left: -90px
      top: 0
    &:nth-child(8)
      left: 90px
      top: 0
    &:nth-child(9)
      left: -90px
      top: 0
    &:nth-child(10)
      left: 90px
      top: 0
    &:nth-child(11)
      left: -90px
      top: 0

  .s-cases
    padding-top: 100px

  .think-block
    font-size: 16px
    line-height: 1.4
    padding: 30px 20px

  .case-slide
    &-img
      width: 250px
      height: 250px
    &-link
      font-size: 20px

  .case-advert-col
    .col-name
      font-size: 12px
      margin-bottom: 5px
    .col-title
      font-size: 15px
    .col-value
      font-size: 18px

  .cases-slider
    &-nav
      top: 320px

  .s-prices
    .section-title
      span
        display: none

  .price-item
    &-img
      width: 150px
    &-title
      font-size: 24px
      margin-bottom: 8px
    &-price
      font-size: 24px
      margin-bottom: 0
    &-period
      font-size: 12px
      margin-bottom: 8px
    &.second-item
      .price-item-top
        left: -15px

  .img-modes
    margin: 30px auto

  .s-form
    font-size: 16px
    .section-title
      font-size: 24px
      margin-bottom: 15px
    .dark-form
      label
        width: 100%

  .s-quality
    padding-top: 70px

  .spec-item
    width: 100%
    padding-left: 65px
    padding-right: 65px
    &-img
      height: 420px

  .bg-stages
    top: 175px

  .stages-wrap
    margin-left: 15px
    margin-right: 15px
    width: calc(100% - 30px)

  .stage-item
    width: 100%
    &:last-child
      width: 100%

  .s-begin
    padding-top: 30px
    .section-title
      &:before, &:after
        width: 30px
        height: 30px
        top: -25px
      &:before
        left: -40px
      &:after
        right: -40px

  form
    h3
      font-size: 22px
      line-height: 1.2
    p
      font-size: 14px

  .rounded-form
    padding: 35px 20px

  .section-title
    font-size: 24px
  .section-desc
    padding-left: 0
    padding-right: 0
    font-size: 16px

  .s-chars
    padding-bottom: 0

  .chars-wrap
    flex-direction: column

  .char-item
    margin-bottom: 50px

  .intro-content
    h1
      font-size: 28px
    p
      font-size: 16px
    .btn
      font-size: 12px
      padding: 16px 30px
      margin-top: 15px

  .header-contacts
    flex-direction: column
    padding-left: 0
    align-items: center
    .call
      margin-right: 0
      text-align: center
      margin-left: 15px
      margin-bottom: 15px

  .site-info
    .logo
      margin-right: 15px
  .site-desc
    font-size: 12px

@media (max-width: 390px)

  .gallery-item
    margin-top: -25px
    &:nth-child(1)
      left: -60px
      top: 0
    &:nth-child(2)
      left: 60px
      top: 0
    &:nth-child(3)
      left: -60px
      top: 0
    &:nth-child(4)
      left: 60px
      top: 0
    &:nth-child(5)
      left: -60px
      top: 0
    &:nth-child(6)
      left: 60px
      top: 0
    &:nth-child(7)
      left: -60px
      top: 0
    &:nth-child(8)
      left: 60px
      top: 0
    &:nth-child(9)
      left: -60px
      top: 0
    &:nth-child(10)
      left: 60px
      top: 0
    &:nth-child(11)
      left: -60px
      top: 0


  .spec-item
    padding-left: 25px
    padding-right: 25px
/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
